<script>
  function getRequestBody() {
      return {
          <% @items.each do |item| %>
            <%= item[:name] %>: document.querySelector('#<%= item[:name] %>').value,
          <% end %>
      }
  }

  function sendCalculatePriceRequest() {
      event.preventDefault();
      const xhttp = new XMLHttpRequest();

      xhttp.open("POST", "/calculate", true);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.addEventListener("load", function() {
          const response = JSON.parse(this.responseText);
          const resultSpan = document.getElementById('result');
          resultSpan.innerText = response.result;
      });
      xhttp.send(JSON.stringify(getRequestBody()));
  }
</script>

<h1>Price calculator</h1><hr>

<form>
  <% @items.each do |item| %>
    <p>
      <%= item[:name] %>: <%= item[:price] %>$
      <input type="number" id="<%= item[:name] %>" value="0">
      <label for="<%= item[:name] %>"></label>
    </p>
  <% end %>
  <button type="submit" onclick="sendCalculatePriceRequest()">Calculate</button>
</form>

<hr>

<p><strong>Total:</strong> <span id="result">0</span>$</p>